<app-base>
  <ng-container body>
    <div class="container">
        <div class="row" name="header">
            <button type="button" class="btn btn-link btn-sm" (click)="navigateBack()">Go Back</button>
            
        </div>
        <br>
        <div name="body">
          <ul class="list-group">
            <li class="list-group-item">
              <td>name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>{{task.name}} </td>
            </li>
            <li class="list-group-item">
              <td>created_at &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>{{task.created_at | date:'yyyy-MM-dd'}} </td>
            </li>
            <li class="list-group-item">
              <td>due_on &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>{{task.due_on | date:'yyyy-MM-dd'}} </td>
            </li>
            <li class="list-group-item">
              <td>status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>{{task.status}} </td>
            </li>
          </ul>
          <div class="pull-right">
              <button type="button" class="btn btn-primary  btn-sm" (click)="updateTask()">Update</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteTask()">Delete</button>
          </div>
        </div>
    </div>
  </ng-container>
</app-base>