<app-base>
    <ng-container body> 
      <div class="container">
        <div class="row">
            <button type="button" class="btn btn-link btn-sm" (click)="navigateBack()">Go Back</button>
            <span><h2>Task Lists</h2></span>
        </div>
        <br>

      
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let taskList of taskLists">
             {{taskList.id}}&nbsp; &nbsp;&nbsp; 
            
            
               <a routerLink="/task_lists/{{taskList.id}}/tasks">{{taskList.name}} &nbsp;&nbsp;&nbsp;</a>  
               
            <button type="button" class="btn btn-light  btn-sm"><a routerLink="/task_lists/{{taskList.id}}/">Edit</a> </button>
            
             
            </li>
          
      </ul>
    
      <br>
 
      <div>
        <div class="form-group">
            <label for="tasklistname">Create new</label>
            <input type="text" class="form-control" id="tasklistname" [(ngModel)]="taskListName" placeholder="Name of task list">
        </div>
          <button type="submit" class="btn btn-primary btn-sm" (click)="createTaskList()">Create</button>
    </div>
      </div>
      </ng-container>
</app-base>